html{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #415a77;
    color:white;
}

.jumbotron-flatron{
    background-color: #0d1b2a;
    font-size: large;
}

.bg-primary{
    background-color: #ffb700 !important;
    color: black;
}

.bg-tabela{
    background-color: #E0E1DD !important;
    color: black;
}

/* 
.flatron{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 5% 10%;
}

.flatron p{
    font-size: 500%;
} */

/* .actual{ */
    /* width: 40vw; */
    /* margin: 3% auto; */
    /* text-align: center; */
/* } */
/*  */
/* .card{ */
    /* background-color: transparent; */
    /* border: 2px solid #8e44ad; */
/* } */
/*  */
/* .card-header{ */
    /* font-size: 300%; */
/* } */
/*  */
/* .card-body{ */
    /* padding: 0; */
/* } */
/*  */
/* .first, .second{ */
    /* width: 50%; */
    /* float: left; */
    /* transition: .4s; */
    /* padding: 16px; */
/* } */
/*  */
/* .first:hover, .second:hover{ */
    /* background-color: #2973a3; */
/* } */
/*  */
/* .count{ */
    /* font-size: 200%; */
/* } */
/*  */
/* .second{ */
    /* border-left: 2px solid #8e44ad; */
/* } */
/*  */
/* .previous{ */
    /* width: 30vw; */
    /* margin: 0 auto; */
    /* text-align: center; */
/* } */
/*  */
/* .previous .card{ */
    /* margin-bottom: 20px !important; */
/*  */
/* } */
/*  */
/* .clip-star { */
    /* background: gray; */
    /* clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
    /* display: inline-block; */
    /* height: 20px; */
    /* width: 20px; */
  /* } */
/*  */
/* .check { */
    /* background: gold; */
  /* } */
/*  */
/* .table thead tr th{ */
    /* cursor: pointer; */
/* } */
/*  */
.main-login{
    margin: 0 auto;
    width: 25vw;
    text-align: center;
    margin-top: 20vh;
}

.main-login .form-control{
    /* padding: 2%; */
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
    /* border: 2px solid white; */
    color: white;
}

.input-group-text{
    background-color: #0d1b2a !important;
    color:white !important;
    border: none !important;
    padding: 10px 25px;
}

.form-control{
    background-color: #E0E1DD !important;
    color:black !important;
    border: none !important;
    padding: 10px 25px;
}