html{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: #415a77;
    color:white;
}

.jumbotron-flatron{
    background-color: #0d1b2a;
    font-size: large;
}

.bg-primary{
    background-color: #ffb700 !important;
    color: black;
}

.bg-tabela{
    background-color: #E0E1DD !important;
    color: black;
}

.main-login{
    margin: 0 auto;
    width: 25vw;
    text-align: center;
    margin-top: 20vh;
}

.main-login .form-control{
    border-radius: 15px;
    text-align: center;
    background-color: transparent;
    color: white;
}

.input-group-text{
    background-color: #0d1b2a !important;
    color:white !important;
    border: none !important;
    padding: 10px 25px;
}

.form-control{
    background-color: #E0E1DD !important;
    color:black !important;
    border: none !important;
    padding: 10px 25px;
}

.flashes{
    position: absolute;
    text-align: center;
    background-color: #e09f3e;
    color: black;
    border: none;
}

.hello{
    text-align: center;
    background-color: #0d1b2a;
    color:white;
}

