<div class="card col-2 mb-5 mx-4 py-4" style="background-color: #f6f6f6;color: black;">
    <div class="card-body">
        <h4 class="card-title">{{exercise}}</h4>
        <h6 class="card-subtitle mb-1 text-muted"></h6>
        <p class="card-text">
                <p>{{quantity}}{{unit}}</p>
                <p>{{description}}</p>
        </p>
        <footer class="blockquote-footer mt-3">{{firstname}} {{lastname}}</footer>
        <a class="btn bg-primary participants" data-dailyid="{{dailyid}}">Uczestnicy</a>
    </div>
</div>