{% extends "base.html" %}


{% block title %} 
	Index 
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="jumbotron jumbotron-flatron text-center pt-5 pb-3">
			<h1 class="display-3">Witaj!</h1>
			<p class="lead">Jest to strona poświęcona konkursowi DmavChallange</p>
			<p class="lead display-10">Wykonuj codzienne aktywności aby poprawić swoje umiejętności</p>
			<hr class="my-4 display-2">
			<p>Poniżej znajdziesz podusmowanie ostatnich dni lub zaloguj się aby zobaczyć szczegóły</p>
			<p class="lead">
				<a class="btn bg-primary btn-lg m-4" href="{{url_for('login')}}" role="button">Zaloguj się</a>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center">
		{% for day in tasks %}
		<!-- main card -->
		<div class="card m-3" style="width: 90%; background-color: #1B263B;">
			<div class="card-body">
				<div class="jumbotron text-center pt-4 pb-3" style="background-color: #1B263B;">
					<h1 class="display-5">{{day[0].DATE}}</h1>
					<hr class="my-4 display-2">
					<div class="row justify-content-center">
						{% for task in day %}
							{% with
								exercise = task.NAME, 
								firstname = task.FIRSTNAME, 
								lastname = task.LASTNAME,
								quantity = task.QUANTITY,
								unit = task.UNIT,
								dailyid = task.ROWID
								%}
								{% include "card.html" %}
							{% endwith %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!----->
		{% endfor %}
	</div>
</div>
<!-- modal -->
<div class="modal fade" id="modal_pop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog text-dark">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Lista uczestników</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<table class="table table-bordered" style="overflow-y:scroll" id="tableUsers" CELLPADDING=10>
			</table>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
		</div>
	  </div>
	</div>
  </div>

<!-- ajax -->
<script type="text/javascript">
	$(document).ready(function(){
		$('.participants').click(function(){
			$.ajax({
				url: '/api/daily/user/get',
				type: 'post',
				data: {
					dailyid: $(this).data('dailyid')
				},
				success: function(data){
					$('#tableUsers').html(data);
					$('#modal_pop').modal('show');
				}
			});
		});
	});

</script>
{% endblock %}


