{% extends "base.html" %}


{% block title %} 
    DmavChallange
{% endblock %}

{% block flashes %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% include "flash.html" %}
    {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="main-login">
            <form action="" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Nowe hasło</span>
                    </div>
                    {{form.new_password(class="form-control")}}
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Powtórz hasło</span>
                    </div>
                    {{form.confirm(class="form-control")}}
                </div>
                {{form.submit_new(class="btn btn-primary bg-primary btn-lg")}}
            </form>
        </div>
    </div>
</div>
{% endblock %}